* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sofia Pro", sans-serif !important;
}

.forgot-password-bg {
  background-image: url("../../public/img/index-page/mining-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto !;
}

.signin-bg {
  background-image: url("../../public/img/index-page/mining-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 970px;
}

.logIn.mining-bg {
  background-size: auto;
}

.login-form .header-logo {
  padding-top: 24px;
}

.login-form-bg {
  background: linear-gradient(51.07deg, #d9edfd 4.88%, #eff5f8 108.15%);
  box-shadow: 4px 4px 10px 1px rgba(0, 16, 57, 0.2),
    -4px -4px 13px rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  margin: 54px 0px 100px 0px;
  padding: 60px 119px 40px 119px;
}

.login-form-bg .heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;

  margin-bottom: 80px;
}

.login-form-bg .form-control {
  background: #e2f1fe;
  box-shadow: inset -2px -2px 3px rgb(255 255 255 / 50%),
    inset 2px 2px 3px rgb(0 16 57 / 20%);
  border-radius: 23px;
  padding: 16px 0 15px 51px;
  font-family: Sofia Pro !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  width: 387px;
  text-align: left;
  /* margin-left: 44px; */
  margin-top: 18px;
  border: none;
}

.login-form-bg::placeholder {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;

  padding-left: 9px;
}

.login-form-bg .email-id {
  background-image: url("../../public/img/icon/email.png");
  background-repeat: no-repeat;
  background-position: left 27px top 18px;
  margin-top: 25px !important;
  /* margin: 3px -22px 5px 93px; */
}

.login-form-bg .pwd,
.login-form-bg .conf-pwd {
  background-image: url("../../public/img/icon/password.png");
  background-repeat: no-repeat;
  background-position: left 27px top 17px;
  margin-top: 25px !important;
}

.login-form-bg .telephone {
  background-image: url("../../public/img/icon/telephone.png");
  background-repeat: no-repeat;
  background-position: left 30px top 24px;
  margin-bottom: 15px;
}

.login-form-bg .pwd {
  margin-top: 25px !important;
}

.login-form-bg .forgot-password {
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(0, 16, 57, 1);
  text-decoration: none;
  margin-top: 8px;
  /* margin-left: -80px; */
}

.login-form-bg .sign-in {
  color: rgba(255, 255, 255, 1);
  outline: 0;
  border: 0;
  margin: 100px auto 15px auto;
  display: table;
  width: 140px;
  height: 46px;
  left: 890px;
  top: 800px;
  background: linear-gradient(180deg, #00498B 0%, #001039 100%);
  border-radius: 23.5px;

}

.login-form-bg a {
  /* text-decoration: none; */
  color: #46a3f6 !important;
  font-weight: 500 !important;
}

.login-form-bg .user-name {
  background-image: url("../../public/img/icon/name-icon.png") !important;
  background-repeat: no-repeat;
  background-position: left 30px top 17px;
}

.login-form-bg .invite-codes {
  background-image: url("../../public/img/icon/invite-code.png");
  background-repeat: no-repeat;
  background-position: left 25px top 17.5px;
  margin-top: 25px !important;
  /* margin: 0px 0px 5px 93px; */
}

.signup-form .heading {
  margin-bottom: 40px;
}

/* .signup-form .user-name,
.signup-form .email-id,
.signup-form .pwd,
.signup-form .conf-pwd {
  margin: 3px -22px 4px 93px;
} */



.help-block {
  color: #00498b;
}

/* .signup-form .pwd {
  margin-top: 50px !important;
} */
.logIn input::placeholder {
  color: #9098ae !important;
}

.common-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

/* @media screen and (max-width: 1536px) {
  .login-form-bg {
    margin: 30px 0px 30px 0px;
    padding: 60px 100px 70px 100px;
  }

  .login-form-bg .sign-in {
    width: 40%;
    margin: 65px auto 15px auto;
  }
} */

/* @media screen and (max-width: 1200px) {
  .login-form-bg {
    padding: 60px 40px 60px 40px;
  }
}

@media screen and (max-width: 1536px) {
  .forgot-password .login-form-bg {
    margin: 50px 0 50px 0;
  }
} */

.forgot-password .login-form-bg {
  margin: 157px 0 222px 0 !important;
}

.forgot-password .login-form-bg .send-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background: linear-gradient(180deg, #00498b 0%, #001039 100%);
  border-radius: 23.5px;
  color: white;
  padding: 14px 47px 14px 46px;
  border: 0;
  outline: 0;

  margin-top: 120px;
}

/* @media screen and (max-width: 1536px) {
  .forgot-password .login-form-bg {
    margin: 50px 0 50px 0 !important;
  }

  .signup-form .user-name,
  .signup-form .email-id,
  .signup-form .pwd,
  .signup-form .conf-pwd {
    margin: 9px -19px 19px 65px;
  }

  .react-tel-input .form-control {
    margin: 3px -22px 17px 65px !important;
  }

  .react-tel-input .selected-flag .flag {
    margin-left: 35px !important;
  }

  .login-form-bg .invite-codes {

    margin: 0px 0px 17px 70px;
  }
} */

/* @media screen and (max-width: 1199px) {
  .common-heading {
    font-size: 35px;
    line-height: 40px;
  }
} */

/*=====Pno======*/

.react-tel-input .selected-flag {
  outline: none !important;
  position: absolute !important;
  width: 0px !important;
  height: 100%;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
  margin: -17px 25px;
}

.react-tel-input .flag-dropdown {
  margin-left: 8px !important;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;

  border-radius: 3px 0 0 3px;
  margin-top: 36px !important;
  margin-bottom: 18px !important;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  margin-left: 75px;
  text-align: initial;
}

.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 51%;
  margin-left: -23px;
  margin-top: -2px;
}



.react-tel-input .country-list {
  outline: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10pxrgba(0, 0, 0, 0.35);
  background-color: #deeffd;
  width: 296px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 6%;
}

.react-tel-input ::-webkit-scrollbar {
  display: none;
}


.errorMsg {
  color: #dc3545;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: grid;
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: 1%;
}

.Eye-icon {
  position: absolute;
  top: 63%;
  left: 90%;
}