* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sofia Pro', sans-serif;
}

.login-form .header-logo {
  padding-top: 24px;
}

.container {
  max-width: 1490px;
  padding: 0 20px;
  display: table;
  width: 100%;
}

.header {
  padding-top: 24px;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}

.header ul .nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 4px 30px 0px -15px;
  padding: 10px 21px;
  color: #001039;
}

.header ul .nav-item img {
  margin-top: -5px;
  padding-left: 8px;
}

.header .sign-in:hover {
  border: none;
  padding: 13px 24px;
}

.header .sign-in {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  border-radius: 7px;
  border: 3px solid transparent;
  border-radius: 7px;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, rgba(0, 66, 129, 1), rgba(0, 16, 57, 1));
  box-shadow: 2px 1000px 1px #ecf4f9 inset;

  padding: 10px 21px;
  margin-right: 20px !important;
  text-decoration: none;
  color: #001039;
  display: inline-block;
  margin: -5px auto auto;
}

.header .sign-in:hover {
  box-shadow: none;
  color: white;

}

.header .sign-up-bg {
  background: linear-gradient(180deg, #004585 0%, #000d35 100%);
  border-radius: 7px;
  margin: -5px auto auto;

}

.header .sign-up {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 16px !important;

  padding: 10px 21px !important;

  color: white !important;
  text-decoration: none;
  display: inline-block;
  border: 3px solid transparent !important;

}

.header .sign-up:hover {
  border: 3px solid transparent !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, rgba(0, 66, 129, 1), rgba(0, 16, 57, 1)) !important;
  box-shadow: 2px 1000px 1px #ecf4f9 inset !important;
  color: black !important;
  border-radius: 7px;

}

.connect-wallet,
.connect-wallet:hover {
  background: linear-gradient(180deg, #004585 0%, #000d35 100%) !important;
  border-radius: 7px;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 17px 14px 13px;
  color: white;
  text-decoration: none;
  display: flex;
}

.wallet-icon {
  padding-left: 8px;
}

.header .nav-link.active {
  background: #e2f1fc;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.7),
    inset 2px 2px 3px rgba(0, 16, 57, 0.2);
  border-radius: 23.5px;
}

.user-stage .heading {
  font-size: 55px;
  font-weight: 600;

  background: #004a8c;
  background: -webkit-linear-gradient(to right, #004a8c, #00082d);
  background: linear-gradient(to right, #004a8c, #00082d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 72px;
}

.user-stage .sub-heading {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;

  margin-top: 10px;
  color: #465375;
}

@media screen and (max-width: 1536px) {
  .header .sign-in {
    box-shadow: 2px 1000px 1px #e2f0fb inset;
  }
}

@media screen and (max-width: 1200px) {
  .header-logo {
    width: 150px;
  }

  .header ul .nav-link {
    padding: 10px 22px;
  }

  .connect-wallet {
    font-size: 13px;
    line-height: 12px;
    padding: 15px 18px 16px 19px;
  }
}

@media screen and (max-width: 992px) {
  .connect-wallet {
    padding: 11px 10px 11px 10px;
  }

  .header ul .nav-link {
    line-height: 20px;

    padding: 10px 12px;
  }

  .header .sign-in {
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 768px) {

  .header-page-name {
    display: none !important;
  }
}



/*========logo-animation=========*/

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/*========mobile-size=========*/

.mobile-size {
  display: none;
}

@media screen and (max-width: 450px) {

  .header ul {
    display: block
  }

  .header {
    padding-top: 24px;
    position: fixed;
    background: #e2f0fb;
    width: 100%;
    height: 13%;
    z-index: 9999;
  }

  .footer-social>div {
    margin: -1px 23px 4px -13px;
  }
}


#menuToggle {
  display: block;
  position: fixed;
  top: 35px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  top: -2px;
  margin-bottom: 5px;
  position: relative;
  background: #001039;
  border-radius: 3px;
  z-index: 999999;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #001039;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 50px 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  height: 112vh;
  background: #e2f0fb;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
  opacity: 1;
}


.line-bar {
  width: 100%;
  border: darkgray solid 0.5px;
}


/*========Notification=========*/

.Notification {

  background: #E2F1FC;
  box-shadow: -2px -2px 3px rgb(255 255 255 / 50%), 2px 2px 3px rgb(0 10 48 / 15%);
  border-radius: 10px;
  width: 48px;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  left: -25px;
  position: relative;
  /* top: -10px; */

}

.header .Notification:hover {
  background: linear-gradient(180deg, #004585 0%, #000D35 100%);
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.5), 2px 2px 3px rgba(0, 10, 48, 0.15);
  border-radius: 10px;
}

.Notification:hover .Notification-hover {
  display: block !important;
}

.Notification:hover .Notification-without-hover {
  display: none;
}