.login-form .header-logo {
  padding-top: 24px;
}

.login-form .container {
  max-width: 1490px;
  padding: 0 20px;
  display: table;
  width: 100%;
}

.header {
  /* padding-top: 24px; */
  padding: 12px 0;
  background-image: url(../../public/img/index-page/header.png);
  position: sticky;
  top: 0;
  z-index: 9999999;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
}

.header ul .nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 4px 30px 0px -15px;
  padding: 10px 21px 6px;
  color: #001039;
}

.header ul .nav-item img {
  margin-top: -5px;
  padding-left: 8px;
}

.header .sign-in:hover {
  border: none;
  padding: 13px 24px;
}

.header .sign-in {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  border-radius: 7px;
  border: 3px solid transparent;
  border-radius: 7px;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, rgba(0, 66, 129, 1), rgba(0, 16, 57, 1));
  box-shadow: 2px 1000px 1px #ecf4f9 inset;

  padding: 10px 21px;
  margin-right: 20px !important;
  text-decoration: none;
  color: #001039;
  display: inline-block;
  margin: -5px auto auto;
}

.header .sign-in:hover {
  box-shadow: none;
  color: white;

}

.header .sign-up-bg {
  background: linear-gradient(180deg, #004585 0%, #000d35 100%);
  border-radius: 7px;
  margin: -5px auto auto;

}

.header .sign-up {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  padding: 11px 21px !important;
  color: white !important;
  text-decoration: none;
  display: inline-block;
  border: 3px solid transparent !important;
  transition: 0.4s ease-in-out;

}

.header .sign-up:hover {
  border: 3px solid transparent !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(101deg, rgba(0, 66, 129, 1), rgba(0, 16, 57, 1)) !important;
  box-shadow: 2px 1000px 1px #ecf4f9 inset !important;
  color: #001039 !important;
  border-radius: 7px;
  transition: 0.4s ease-in-out;
}

.connect-wallet,
.connect-wallet:hover {
  background: linear-gradient(180deg, #004585 0%, #000d35 100%) !important;
  border-radius: 7px;
  font-size: 16px;
  line-height: 16px;
  padding: 13px;
  /* 17px 14px 13px */
  color: white;
  text-decoration: none;
  display: flex;
}

.wallet-icon {
  padding-left: 8px;
  position: relative;
  top: 3px;
}

.header .nav-link.active {
  background: #e2f1fc;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.7),
    inset 2px 2px 3px rgba(0, 16, 57, 0.2);
  border-radius: 23.5px;
}

.user-stage .heading {
  font-size: 55px;
  font-weight: 600;

  background: #004a8c;
  background: -webkit-linear-gradient(to right, #004a8c, #00082d);
  background: linear-gradient(to right, #004a8c, #00082d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 72px;
}

.user-stage .sub-heading {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;

  margin-top: 10px;
  color: #465375;
}

@media screen and (max-width: 1536px) {
  .header .sign-in {
    box-shadow: 2px 1000px 1px #e2f0fb inset;
  }
}

@media screen and (max-width: 1200px) {
  .header-logo {
    width: 150px;
  }

  .header ul .nav-link {
    padding: 10px 22px;
  }

  .connect-wallet {
    font-size: 18px;
    line-height: 12px;
    padding: 15px 18px 16px 19px;
    align-items: baseline;
  }
}

@media screen and (max-width: 992px) {
  .connect-wallet {
    padding: 11px 10px 11px 10px;
  }

  .header ul .nav-link {
    line-height: 20px;

    padding: 10px 12px;
  }

  .header .sign-in {
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 768px) {

  .header-page-name {
    display: none !important;
  }
}



/*========logo-animation=========*/

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/*========mobile-size=========*/

.mobile-size {
  display: none;
}

@media screen and (max-width: 450px) {

  .header ul {
    display: block
  }


  .footer-social>div {
    margin: -1px 23px 4px -13px;
  }

  .index-bg .hero .heading {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    padding: 178px 0 43px 0;
  }
}

.line-bar {
  width: 100%;
  border: 0.5px solid #9098AE;
}


/*========Notification=========*/

.Notification {
  background: #E2F1FC;
  box-shadow: -2px -2px 3px rgb(255 255 255 / 50%), 2px 2px 3px rgb(0 10 48 / 15%);
  border-radius: 10px;
  width: 48px;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  left: -25px;
  position: relative;
  /* top: -10px; */

}

.header .Notification:hover {
  background: linear-gradient(180deg, #004585 0%, #000D35 100%);
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.5), 2px 2px 3px rgba(0, 10, 48, 0.15);
  border-radius: 10px;
  position: relative;

  /* padding: 10px; */
}

.Notification:hover .Notification-hover {
  display: block !important;
}

.Notification:hover .Notification-without-hover {
  display: none;
}



.button {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  border: none;
}

.overlay {
  position: absolute;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  left: 0;
}

.overlay:target {
  visibility: visible;
  /* display: block; */
  opacity: 1;
  /* z-index: 1; */
}

.popup {
  background: #E2F1FC;
  box-shadow: -3px -3px 5px rgb(255 255 255 / 50%), 3px 3px 4px rgb(0 16 57 / 20%);
  padding: 25px;
  border-radius: 5px;
  position: absolute;
  top: 49px;
  right: 0;
  min-width: 400px;
  transition: all 5s ease-in-out;
  width: max-content;
  z-index: 999999999;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

.notification-font {

  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #001039;
}

.mark-read {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #004585;
}

.user-name {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #001039;
}

.user-Describe {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #272D3D;
}

.View {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #004585;
}

.border-bottom {
  border-bottom: 0.5px solid #9098AE !important;
}

.space-menu-rect {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 39.49px;
  left: 15px;

  background: #E2F1FC;
  border-radius: 1px;
  z-index: 11;
  transform: rotate(-45deg);
  /* background-color: #001039; */
}
.section-center {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
  position: fixed;
  top: 33px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease,
    right 100ms 1750ms ease,
    margin-top 100ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
  background: #001039;
  /* background-color: red; */
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  /* background-color: #ececee; */
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
  background: #001039;
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
    right 100ms ease,
    margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 13px;
  right: 50px;
  display: block;
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgb(0 0 0 / 30%);
  background-color: #001039;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked~.nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #D0EAFF;
  ;
}

.nav ul {
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}

.nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}

.menu-icon:checked~.nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
    transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}


.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
} 
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {

  .menu-icon:checked+label,
  .menu-icon:not(:checked)+label {
    right: 42px;
  }

  .logo {
    left: 30px;
  }

  .nav {
    right: 30px;
  }

  .nav ul li a {
    font-size: 8vh;
  }
}