.resetpassword-bg {
    background-image: url(../../public/img/index-page/mining-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 970px;
  }
  
.reset-password .login-form-bg {
  margin-top: 142px;
}

.reset-password .conf-pwd {
  margin-top: 20px;
}

.reset-password .reset-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  background: linear-gradient(180deg, #00498b 0%, #001039 100%);
  border-radius: 23.5px;
  color: white;
  padding: 14px 47px 14px 46px;
  border: 0;
  outline: 0;

  margin-top: 120px;
}

@media screen and (max-width: 1536px) {
  .reset-password .login-form-bg {
    margin: 50px 0 50px 0 !important;
  }
}


.errorMsg1{
  color: #dc3545;
  margin-left: 75px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}